<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!-- aqui configuramos cual es el permiso del acceso principal
-->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!-- Agregamos la autenticacion basada en formularios-->
      <authentication mode="Forms">
        <!--Le damos nombre a esa autenticacion, pagina de logueo y que tipo
        de proteccion va a llevar, al igual la ruta de a que aplica, en este
        caso sera todo el proyecto-->
        <forms name="autenticacionPersonalizada" loginUrl="login.aspx"
               timeout="20" path="/">
          <!--Ahora defino las credenciales a usar, sha es seguro, md5 menos seguro pero
        mas ligero o clear para que no guarde el password y lo elimine del navegador -->
          <credentials passwordFormat="Clear">
            <user name="Aniimay" password="Hola123"/>
            <user name="Ivonne" password="Hack456"/>
            <user name="Irvin" password="Nfl17"/>
            <user name="Lopez" password="Travel789"/>
            <user name="Rocha" password="Security99"/>
          </credentials>
        </forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
</configuration>
