<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <!--Defino que la autenticación deberá ser por formulario-->
    <authentication mode="Forms">
      <!--defino mi pagina de login-->
      <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH"
             timeout="10" defaultUrl="default.aspx" path="/">
        <!--Defino los usuarios que podran ingresar a mi aplicación-->
        <credentials passwordFormat="Clear">
          <user name="Aniimay" password="Hola123"/>
          <user name="Ivonne" password="Hack456"/>
          <user name="Irvin" password="Nfl17"/>
          <user name="Lopez" password="Travel789"/>
          <user name="Rocha" password="Security99"/>
        </credentials>
      </forms>
      <!--<forms defaultUrl="Defaults.aspx" timeout="1" />-->
    </authentication>
    <!--Con lo siguiente se forza a loguearse-->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <!--por si lo necesitan
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  -->
  
  <!--Ahora indico las carpetas que deberán de ser accesibles-->
    <location path="administracion">
    <system.web>
      <authorization>
        <allow users="Aniimay, Lopez"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  
</configuration>