<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="servicioVCSoap" />
                <binding name="ConversorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/servicioVC.asmx" binding="basicHttpBinding"
                bindingConfiguration="servicioVCSoap" contract="serviciovc.servicioVCSoap"
                name="servicioVCSoap" />
            <endpoint address="http://www.elguille.info/Net/WebServices/CelsiusFahrenheit.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConversorSoap"
                contract="elGuille.ConversorSoap" name="ConversorSoap" />
        </client>
    </system.serviceModel>
</configuration>
