@{
    ViewBag.Title = "Estudiantes";
    //esa linea indica que se cargue el layout, si lo quito funciona porque el viestart esta dentro del view
    //osea al nivel de view, en raiz de view
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>
