@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>conocenos</title>
</head>
<body>
    <div>
        <h1> hola estimado @ViewBag.dato </h1>
        <br />
        lo anterior fue un viebag, ahora usaremos el viewdata
        <br />
        <h1> hola estimado  @ViewData["Mi dato"] </h1>
    </div>
</body>
</html>
