@{
    //este layout apunta a la pagina maestra, pero no tenemos
    //la arroba habla de utilizar razor
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <h1>Hola jovenes, son el futuro de hoy</h1>
    </div>
</body>
</html>
