@font-face {
    font-family: 'ebrimaregular';
    src: url('../fonts/ebrima-webfont.eot');
    src: url('../fonts/ebrima-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebrima-webfont.woff') format('woff'),
         url('../fonts/ebrima-webfont.ttf') format('truetype'),
         url('../fonts/ebrima-webfont.svg#ebrimaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family:"ebrima", Helvetica, sans-serif;
    font-size:2em;
}
